/* Write your CSS here */
* {
  box-sizing: 0px;
}
body {
  margin: 0px;
}
.bg-container {
  background-color: #ffd569;
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #000000;
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 45px;
  }
}
.card-container {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: 90%;
}
.spanEl {
  color: #ffd569;
}
.banana-mango-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .banana-mango-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .card-container {
    width: 70%;
  }
}
.image {
  width: 200px;
  margin-bottom: 10px;
}
.button {
  height: 30px;
  width: 80px;
  background-color: #007bff;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}
.banana-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
